body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  overflow-x: hidden;
  /* background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),  url("./assets/images/fold.jpg");  blur img*/ 
  background-image: url("./assets/images/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2b303a;


  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homeHeader {
  color: #fff;
  text-align: center;
  align-items: center;
  margin: 50px;
}

.navbar nav {
  width: 100px;
}

.navBar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
  height: 50px;
  color: #fff;
}

.navBar li {
  list-style: none;
  padding: 10px;
}

.navBrand {

  font-size: 30px;
}

.ladderTable {
    border-collapse: separate;
  border-spacing: 150px 10px;
 color: #fff;



}

.tHeader {
    border: solid;
    border-color: #fff;
}

.ladderTable tbody {

align-items: center;
text-align: center;
}

.div {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;

  border: solid;
}

.pagiNav button{
 background-color: rgba(0, 0, 0, 0.5);
 border: none;

}